:root {
  color-scheme: light dark;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  /* Main scroll is inside the content div */
}

/* Custom Scrollbar for better look in electron */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}